*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}