//COLOURS
$color-primary: #F6FFDE;
$color-primary-light: #AFC8AD;
$color-primary-dark: #6D8972;
$color-grey-dark: #777;
$color-beige-light: #F2F1EB;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;