@import "../Abstracts/variables";
@import "../Base/animation";

.button {
  background-color: $color-primary-dark;
  color: $color-white;
  font-size: $default-font-size;
  padding: 2rem;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;

  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    border-style: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border-style: none;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
}
