@import '../Abstracts/variables';
@import '../Base/animation';

.header{
    display: flex;
    width: 100vw;
    height: 70vh;
    margin-top: -1.7vh;
    z-index: 1;

    &__bg-img{
        // position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.7)),url('../../assets/Header-Background.png');
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    }

    &__logo{
        position: absolute;
        left: 9rem;
        height: 35rem;
        width: 35rem;
        align-self: flex-end;
        z-index: 2;
        margin-bottom: -8rem;
        animation-name: rotate-center, move-in-right;
        animation-duration: 2s;
    }
}