@import "../Abstracts/variables";
@import "../Abstracts/mixins";

.local-benefits {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 10rem;
  position: relative;

  @include respond (tab-port){
    display: flex;
    flex-direction: column;
    align-items: center;
}

  &__image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    width: fit-content;
    position: sticky;
    top: 10rem;

    @include respond (tab-land){
      top: 20rem;
    }

    @include respond (tab-port){
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 0;
      height: fit-content;
      width: 90vw;
  }
  }

  &__article {
    padding: 5rem;
    height: fit-content;
    width: 55%;
    border-radius: 3rem;
    text-align: left;
    font-size: $default-font-size;
    box-shadow: 1rem 1rem 2rem rgba($color-black, 0.2);
    background-color: $color-beige-light;

    @include respond (tab-port){
     width: 86vw;
      margin-top: 3rem;
    }
  }

  &_images{
    display: flex;
    justify-content: space-between;
    width: fit-content;
  }
}

.img {
    height: 40vh;
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 2rem rgba($color-black, 0.2);

    @include respond (tab-land){
      height: 21vh;
      margin-top: 7rem;
    }

    @include respond (tab-port){
      height: 24.5vh;
      margin-top: 2rem;
      margin-right: 1rem;
    }

    @include respond (phone){
      height: 22.8vh;
      margin-top: 2rem;
      margin-right: 1rem;
    }
}
