@import "../Abstracts/variables";
@import "../Base/animation";

.mission {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 0 15rem;
    bottom: 10rem;
    width: 100%;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    padding: 3rem 10rem;
    background-color: $color-beige-light;
    font-size: $default-font-size;

    position: absolute;
    // top: 58%;
    // right: 10%;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

    animation-name: slide-up;
    animation-duration: 2s;

    &-buttons {
      display: flex;
      justify-content: space-between;
      width: 60%;
    }
  }
}

.logo {
  position: absolute;
  display: block;
  height: 50%;
  animation-name: rotate-center, move-in-right;
  animation-duration: 2s;
}
