@import "../Abstracts/variables";
@import "../Base/animation";
@import "../Abstracts/mixins";

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0 15rem;
  width: 100vw;
  height: 30rem;

  @include respond(xl-desktop){
    bottom: 8rem;
}

@include respond(tab-land){
    bottom: 12rem;
}

@include respond(phone){
  bottom: 12rem;
  height:49rem;
}

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    left: 10%;
    width: 80%;
    padding: 3rem 10rem;
    margin: 0 3rem;
    background-color: $color-beige-light;
    font-size: $default-font-size;

    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

    animation-name: slide-up;
    animation-duration: 2s;

    &-buttons {
      display: flex;
      justify-content: space-between;
      

      :last-child {
        margin-left: 1rem;
      }

      @include respond(xl-desktop){
        width: 50%;
    }

    @include respond(tab-port){
        width: 80%;
    }

      @include respond(phone){
        width: 80%;
    }
    }
  }

  .logo {
    position: absolute;
    margin-top: -10rem;
    height: 20rem;
    left: 11%;

    animation-name: rotate-center, move-in-right;
    animation-duration: 2s;
    z-index: 4;
  }
}
