@import "../Abstracts/variables";
@import "../Abstracts/mixins";

.navbar {
  background-image: linear-gradient(
    to bottom,
    rgba($color-primary-dark, 1) 85%,
    rgba($color-primary-dark, 0.2)
  );
  position: sticky;
  top: 0;
  width: 100vw;
  height: 12vh;
  padding: 1rem 3rem;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 7rem;
    width: 7rem;
    margin-right: 1rem;
  }

  &__title-and-logo {
    display: flex;
    align-items: center;
  }

}

.top-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  
  @include respond(tab-land){
    display: none;
  }

  &__item {
    padding: 3rem;
  }

  &__link:link,
  &__link:visited {
    font-family: "Lexend", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: $color-primary-dark;
  list-style: none;
  text-decoration: none;

}

.burger-menu{
  color: $color-white;
  height: 6rem;
  width: 6rem;
  
  @include respond(xl-desktop){
    display: none;
  }
  
  @include respond(tab-land){
    display: inline-block;
  }
}